*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
   
}

.pozadi{
    width: 100%;
    position: absolute;
    
    max-width: max-content;
    left: 0;
}
.kava1 {
    position: absolute;
    left: 4%;
    top: 40%;
    width: 50%;
    filter: grayscale(69%);
}

.navbar {
    padding-top: 5rem ;
    padding-left: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    display: contents;
}



