@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,500&family=Yeseva+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --coral: #E87774;
    --coral-transparent: rgba(232,119,116,0.75);
    --note-background: #EAE9F6;
    --text-color: #332838;
    --heading-font: 'Yeseva One', cursive;
    --body-font: 'Poppins', sans-serif;
}

.navbar {
    width: 1440px;
    height: 65px;
}

@media(max-width: 380px) {
    .navbar {
        width: 380px;
        height: 320px;
        background-color: #E87774;
    }
}

.logoC {
    margin-top: 17px;
    margin-left: 143px;
}

@media (max-width: 380px) {
    .logoC {
        display: none;
    }
}

.logoW {
    display: none;
}

@media (max-width: 380px) {
    .logoW {
        display: block;
        width: 154px;
        height: 32px;
        position: absolute;
        left: 113px;
        right: 113px;
        top: 49px;
    }
}

.odkazy {
    width: 457px;
    height: 30px;
    font-family:'Poppins', sans-serif;
    font-weight: 500px;
    font-size: 20px;
    color: #E87774;
    position: absolute;
    top: 10px;
    bottom: 18px;
    right: 119px;
    left: 864px;
}

@media (max-width: 380px) {
    .odkazy {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 147px;
        height: 168px;
        color: #EAE9F6;
        line-height: 30px;
        left: 116px;
        top: 116px;
    }
}


.domu {
    text-decoration: none;
    color: #E87774;
    padding-right: 46px;
}

@media (max-width: 380px) {
    .domu {
        padding-right: 0;
        color: #EAE9F6;
    }
}


.kotatka {
    text-decoration: none;
    color: #E87774;
    padding-right: 44px;
}

@media (max-width: 380px) {
    .kotatka {
        padding-right: 0;
        color: #eae9f6;
    }
}

.nasutulek {
    text-decoration: none;
    color: #E87774;
    padding-right: 30px;
}

@media (max-width: 380px) {
    .nasutulek {
        padding-right: 0;
        color:#EAE9F6;
    }
}

.kontakt {
    text-decoration: none;
    color: #E87774;
}

@media (max-width: 380px) {
    .kontakt {
        color: #EAE9F6;
    }
}

.banner {
    background-image: url(../images/banner.png);
    height: 482px;
}

@media (max-width: 380px) {
    .banner {
        background-image: url(../images/banner.png);
        height: 213px;
        width: 380px;
    }
}

.bannernadpis {
    position: absolute;
    left: 317px;
    top: 260px;
    font-family: 'Yeseva one', sans-serif;
    font-size: 72px;
    color: white;
    font-weight: 400px;
    background-color: rgba(232,119,116,0.75);
}

@media (max-width: 380px) {
    .bannernadpis {
        width: 347px;
        height: 105px;
        font-size: 36px;
        text-align: center;
        left: 16px;
        top: 373px;
        font-weight: 300;
    }
}

.mazlicci {
    color: #332838;
}

.prohlidnete {
    color: #E87774;
    font-family: 'Yeseva one', sans-serif;
    font-size: 36px;
    position: absolute;
    left: 120px;
    top: 575px;
}

@media (max-width: 380px) {
    .prohlidnete {
        left: 16px;
        top: 565px;
        font-size: 28px;
        text-align: center;
    }
}

.feliximg {
    width: 276px;
    height: 225px;
    position: absolute;
    left: 120px;
    top: 666px;
}

@media (max-width: 380px) {
    .feliximg {
        left: 52px;
        top: 653px;
    }
}

.felixnadpis {
    font-size: 28px;
    font-family: 'Yeseva one', sans-serif;
    position: absolute;
    left: 120px;
    top: 891px;
    width: 276px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

@media (max-width: 380px) {
    .felixnadpis {
        left: 52px;
        top: 878px;
    }   
}

.felixtext {
    font-family: 'Poppins regular', sans-serif;
    font-size: 16px;
    width: 276px;
    height: 92px;
    text-align: center;
    position: absolute;
    left: 120px;
    top: 941px;
    line-height: 24px;
    font-weight: 400px;
}

@media (max-width: 380px) {
    .felixtext {
        left: 52px;
        top: 928px;
    }   
}

.rosalindaimg {
    width: 276px;
    height: 225px;
    position: absolute;
    left: 428px;
    top: 666px;
}

@media (max-width: 380px) {
    .rosalindaimg {
        left: 52px;
        top: 1048px;
    }   
}

.rosalindanadpis {
    font-size: 28px;
    font-family: 'Yeseva one', sans-serif;
    position: absolute;
    left: 428px;
    top: 891px;
    width: 276px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

@media (max-width: 380px) {
    .rosalindanadpis {
        left: 52px;
        top: 1273px;
    }   
}

.rosalindatext {
    font-family: 'Poppins regular', sans-serif;
    font-size: 16px;
    width: 276px;
    height: 92px;
    text-align: center;
    position: absolute;
    left: 428px;
    top: 941px;
    line-height: 24px;
    font-weight: 400px;
}

@media (max-width: 380px) {
    .rosalindatext {
        left: 52px;
        top: 1323px;
    }   
}

.fousekimg {
    width: 276px;
    height: 225px;
    position: absolute;
    left: 736px;
    top: 666px;
}

@media (max-width: 380px) {
    .fousekimg {
        left: 52px;
        top: 1450px;
    }   
}

.fouseknadpis {
    font-size: 28px;
    font-family: 'Yeseva one', sans-serif;
    position: absolute;
    left: 736px;
    top: 891px;
    width: 276px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

@media (max-width: 380px) {
    .fouseknadpis {
        left: 52px;
        top: 1675px;
    }   
}

.fousektext {
    font-family: 'Poppins regular', sans-serif;
    font-size: 16px;
    width: 276px;
    height: 92px;
    text-align: center;
    position: absolute;
    left: 736px;
    top: 941px;
    line-height: 24px;
    font-weight: 400px;
}

@media (max-width: 380px) {
    .fousektext {
        left: 52px;
        top: 1725px;
    }   
}

.kiraimg {
    width: 276px;
    height: 225px;
    position: absolute;
    left: 120px;
    top: 1061px;
}

@media (max-width: 380px) {
    .kiraimg {
        left: 52px;
        top: 1845px;
    }   
}

.kiranadpis {
    font-size: 28px;
    font-family: 'Yeseva one', sans-serif;
    position: absolute;
    left: 120px;
    top: 1286px;
    width: 276px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

@media (max-width: 380px) {
    .kiranadpis {
        left: 52px;
        top: 2070px;
    }   
}

.kiratext {
    font-family: 'Poppins regular', sans-serif;
    font-size: 16px;
    width: 276px;
    height: 92px;
    text-align: center;
    position: absolute;
    left: 120px;
    top: 1336px;
    line-height: 24px;
    font-weight: 400px;
}

@media (max-width: 380px) {
    .kiratext {
        left: 52px;
        top: 2120px;
    }   
}

.susimg {
    width: 276px;
    height: 225px;
    position: absolute;
    left: 428px;
    top: 1061px;
}

@media (max-width: 380px) {
    .susimg {
        left: 52px;
        top: 2240px;
    }   
}

.susnadpis {
    font-size: 28px;
    font-family: 'Yeseva one', sans-serif;
    position: absolute;
    left: 428px;
    top: 1286px;
    width: 276px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

@media (max-width: 380px) {
    .susnadpis {
        left: 52px;
        top: 2465px;
    }   
}

.sustext {
    font-family: 'Poppins regular', sans-serif;
    font-size: 16px;
    width: 276px;
    height: 92px;
    text-align: center;
    position: absolute;
    left: 428px;
    top: 1336px;
    line-height: 24px;
    font-weight: 400px;
}

@media (max-width: 380px) {
    .sustext {
        left: 52px;
        top: 2515px;
    }   
}

.usiskoimg {
    width: 276px;
    height: 225px;
    position: absolute;
    left: 736px;
    top: 1061px;
}

@media (max-width: 380px) {
    .usiskoimg {
        left: 52px;
        top: 2633px;
    }   
}

.usiskonadpis {
    font-size: 28px;
    font-family: 'Yeseva one', sans-serif;
    position: absolute;
    left: 736px;
    top: 1286px;
    width: 276px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

@media (max-width: 380px) {
    .usiskonadpis {
        left: 52px;
        top: 2860px;
    }   
}

.usiskotext {
    font-family: 'Poppins regular', sans-serif;
    font-size: 16px;
    width: 276px;
    height: 92px;
    text-align: center;
    position: absolute;
    left: 736px;
    top: 1336px;
    line-height: 24px;
    font-weight: 400px;
}

@media (max-width: 380px) {
    .usiskotext {
        left: 52px;
        top: 2910px;
    }   
}

.inzerat {
    width: 251px;
    height: 711px;
}

.inzeraty {
    color: #E87774;
    font-family: 'Yeseva one', sans-serif;
    font-size: 36px;
    position: absolute;
    left: 1043px;
    top: 575px;
}


@media (max-width: 380px) {
    .inzeraty {
        left: 132px;
        top: 3032px;
        font-size: 28px;
    }
}

.honza {
    width: 276px;
    height: 160px;
    color: #332838;
    font-family: Poppins Regular, sans-serif;
}


@media (max-width: 380px) {
    .honza {
        display: none;
    }
}

.honzadatum {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 1057px;
    top: 670px;
}

@media (max-width: 380px) {
    .honzadatum {
        left: 66px;
        top: 3127px;
    }
}

.honzanadpis {
    font-family: Poppins Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    left: 1057px;
    top: 696px;
}


@media (max-width: 380px) {
    .honzanadpis {
        left: 66px;
        top: 3153px;
    }
}

.honzatext {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 1057px;
    top: 725px;
    right: 131px;
}

@media (max-width: 380px) {
    .honzatext {
        left: 66px;
        top: 3182px;
    }
}


.honzaemail {
    font-family: Poppins Medium Italic, sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 1057px;
    top: 793px;
}
.marcela {
    width: 276px;
    height: 229px;
    color: #332838;
    font-family: Poppins Regular, sans-serif;
}

@media (max-width: 380px) {
    .marcela {
        display: none;
    }
}

.marceladatum {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 1057px;
    top: 843px;
}

.marcelanadpis {
    font-family: Poppins Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    left: 1057px;
    top: 868px;
    right: 131px;
}

.marcelatext {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 1055px;
    top: 917px;
    right: 133px;
}

.marcelaemail {
    font-family: Poppins Medium Italic, sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 1055px;
    top: 1015px;
    right: 134px;
}
.ivan {
    width: 276px;
    height: 207px;
    color: #332838;
    font-family: Poppins Regular, sans-serif;
}

@media (max-width: 380px) {
    .ivan {
        display: none;
    }
}

.ivandatum {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 1057px;
    top: 1086px;
}

.ivannadpis {
    font-family: Poppins Bold, sans-serif;
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    left: 1057px;
    top: 1111px;
}

.ivantext {
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 1055px;
    top: 1138px;
    right: 133px;
}

.ivanemail {
    font-family: Poppins Medium Italic, sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    left: 1055px;
    top: 1258px;
}