* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.container {
    background-color: #1A0D42;
    width: 1920px;
    height: 1080px;
    
}

@media(max-width: 412px) {
    .container {
        width: 412px;
        height: 1080px;
        
    }
}

.navbar {
    background-color: #1A0D42;
}

.logo {
    top: 33px;
    left: 40px;
    position: absolute;
}

.nav {
    position: absolute;
    left: 1116px;
    top: 49px;
    right: 333px;
    display: flex;
    flex-direction: row ;
}

@media(max-width: 415px) {
    .nav {
        left: 15px;
        top: 115px;
    }
}

.home_odkaz {
    text-decoration: none;
    font-family: K2D, sans-serif;
    color: gray;
    font-size: 25px;
    padding-right: 71px;

}

@media(max-width: 415px) {
    .home_odkaz {
        padding-right: 15px;
        font-size: 19px;
    }
}

.about_odkaz {
    text-decoration: none;
    font-family: K2D, sans-serif;
    color: gray;
    font-size: 25px;
    padding-right: 74px;
}

@media(max-width: 415px) {
    .about_odkaz {
        padding-right: 15px;
        font-size: 19px;
    }
}

.history_odkaz {
    text-decoration: none;
    font-family: K2D, sans-serif;
    color: gray;
    font-size: 25px;
    padding-right: 78px;
}

@media(max-width: 415px) {
    .history_odkaz {
        padding-right: 15px;
        font-size: 19px;
    }
}


.contact_odkaz {
    text-decoration: none;
    font-family: K2D, sans-serif;
    color: gray;
    font-size: 25px;
    padding-right: 79px;
}

@media(max-width: 415px) {
    .contact_odkaz {
        padding-right: 15px;
        font-size: 19px;
    }
}

.buy_odkaz {
    text-decoration: none;
    font-family: K2D, sans-serif;
    color: gray;
    font-size: 25px;

}

@media(max-width: 415px) {
    .buy_odkaz {
        font-size: 19px;
    }
}

.energy {
    width: 677px;
    font-family: K2D, sans-serif;
    font-size: 100px;
    font-weight: 100px;
    color: white;
    position: absolute;
    left: 178px;
    top: 239px;
    right: 1065px;
}

@media(max-width: 415px) {
    .energy {
        width: 400px;
        font-size: 50px;
        left: 40px;
        top: 175px;
    }
}

.detailss {
    font-family: K2D, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    left: 189px;
    top: 520px;
    width: 248px;
    height: 100px;
    border-radius: 50px;
    border-width: 0px;
    background: rgb(205,1,252);
    background: linear-gradient(90deg, rgba(205,1,252,1) 0%, rgba(161,22,249,1) 21%, rgba(81,1,170,1) 100%);
}

@media(max-width: 415px) {
    .detailss {
        font-size: 25px;
        height: 70px;
        width: 180px;
        left: 15px;
        top: 710px;
    }
}

.buynoww {
    font-family: K2D, sans-serif;
    font-size: 30px;
    color: white;
    position: absolute;
    left: 459px;
    top: 520px;
    width: 248px;
    height: 100px;
    border-radius: 50px;
    border-width: 4px;
    background-color: #1A0D42;
    border-color: rgb(205,1,252);
    border-color: linear-gradient(90deg, rgba(205,1,252,1) 0%, rgba(133,35,247,1) 100%);
}

@media(max-width: 415px) {
    .buynoww {
        font-size: 25px;
        height: 70px;
        width: 180px;
        left: 215px;
        top: 710px;
    }
}

.line1 {
    position: absolute;
    left: 178px;
    top: 670px;
    width: 677px;
    height: 3px;
    background-image: linear-gradient(#1d294a, #8523f7)
}

@media(max-width: 415px) {
    .line1 {
        display: none;
    }
}

.lorem1 {
    font-family: K2D, sans-serif;
    font-size: 25px;
    color: #cdcdcd;
    position: absolute;
    left: 183px;
    top: 696px;
    width: 672px;
}

@media(max-width: 415px) {
    .lorem1 {
        font-size: 15px;
        width: 400px;
        left: 15px;
        top: 800px;
    }
}

.product {
    position: absolute;
    left: 1080px;
    top: 162px;
}

@media(max-width: 415px) {
    .product {
        left: 0px;
        top: 270px;
        width: 400px;
    }   
}

.bordel {
    position: absolute;
    left: 852px;
    top: 346px;
}